# 1Password CLI integration for Terraform secrets
eval "$(op inject <<EOF
export TF_VAR_proxmox_username="op://homeserver/proxmox-root/username"
export TF_VAR_proxmox_password="op://homeserver/proxmox-root/password"
export TF_VAR_user_ssh_public_key="op://homeserver/ssh-key-user/public key"
EOF
)"