---
# Update the secrets hash file with new values
# This should be called after all secret hash comparisons are done

- name: Update secrets hash file
  ansible.builtin.copy:
    dest: /etc/ansible/facts.d/secrets.json
    mode: '0600'
    owner: root
    group: root
    content: '{{ updated_secrets | to_nice_json }}'
  vars:
    updated_secrets: '{{ existing_secrets | combine(new_secret_hashes) }}'
  when: secret_hashes_changed | default(false)
  no_log: true
