---
- name: Add CircleCI Container Agent Helm repository
  kubernetes.core.helm_repository:
    name: container-agent
    repo_url: https://packagecloud.io/circleci/container-agent/helm
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml

- name: Add Bitnami Helm repository for Redis
  kubernetes.core.helm_repository:
    name: bitnami
    repo_url: https://charts.bitnami.com/bitnami
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml

- name: Add MinIO Helm repository
  kubernetes.core.helm_repository:
    name: minio
    repo_url: https://charts.min.io/
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml

- name: Add Docker Registry Helm repository
  kubernetes.core.helm_repository:
    name: twuni
    repo_url: https://helm.twun.io
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml

- name: Update Helm repositories
  ansible.builtin.command: helm repo update
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  changed_when: false
